
<h1><%= @person ? @person : "All" %> Posts</h1>

<p><em>Total Posts: <%= @posts.count %></em></p>

<% @posts.each do |post| %>
  <hr>
  <p style="font-size:1em"><em><%= distance_of_time_in_words_to_now(post.created_at) %> ago</em></p>
  <p><%= post.message %></p>
<% end %>
<hr>
