
<h1><%= @person ? @person : "All" %> Posts</h1>

<% @posts.each do |post| %>
  <hr>
  <p><em><%= distance_of_time_in_words_to_now(post.created_at) %> ago</em></p>
  <p><%= post.message %></p>
<% end %>
<hr>

<%= @posts.count %>

<script>
  setTimeout(function() {
    location.reload(1);
  }, 3000);
</script>
